@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/* Global Tags */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size:  1.1rem;
    color: #000;
}

/* Navigation */
.header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo h3 {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.header .logo {
    width: 60px;
    cursor: pointer;
}

.header .navigation {
    display: flex;
}

#menu-btn {
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close {
    width: 30px;
    height: 30px;
    display: none;
}

.header .navigation .navbar-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .navigation .navbar-list .navbar-items {
    list-style: none;
    margin-left: 25px;
}

.header .navigation .navbar-list .navbar-items a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.header .navigation .navbar-list .navbar-items a:hover,
.header .navigation .navbar-list .navbar-items a.active {
    color: #ff9933;
}

/* Home */
.home {
    background-image: linear-gradient(rgb(255, 153, 51, 0.8), rgba(244, 196, 48, 0.8));
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

.home h2 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.home p {
    width: 50%;
    color: #000;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 25px;
}

.home .home-button {
    margin-top: 30px;
}

.home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 500;
    border-radius: 10px;
}

.home .btn-saffron {
    color: #ff9933;
    background-color: #fff;
    margin: 5px;
}

.home .btn-saffron:hover {
    color: #000;
    background-color: #ff9933;
    transition: 0.3s ease;
}

/* Activities */
.activities {
    padding: 10vw 8vw 5vw 8vw;
    text-align: center;
}

.activities p {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
}

.activities .act-box {
    background-image: linear-gradient(rgb(255, 153, 51, 0.8), rgba(244, 196, 48, 0.8));
    text-align: center;
    margin: 0 20px;
    border-radius: 10px;
}

.activities .act {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.activities .act-box i {
    font-size: 2.3rem;
    color: #000;
    padding: 13px 0 7px 0;
}

.activities .act-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    padding: 13px 0 7px 0;
}

.activities .act-box p {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    padding: 20px;
}

/* Blogs */
.blogs {
    padding: 10vw 8vw 5vw 8vw;
    text-align: center;
}

.blogs .blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

.blogs .blog-box {
    text-align: start;
    background-image: linear-gradient(rgb(255, 153, 51, 0.8), rgba(244, 196, 48, 0.8));
    height: 100%;
    border-radius: 10px;
}

.blogs .blog-box img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.blogs .blog-box .details {
    padding: 15px 15px 0 15px;
}

/* Team */
.team {
    padding: 10vw 8vw 5vw 8vw;
    text-align: center;
}

.team .team-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

.team .team-box .profile {
    background: #fafaf1;
    padding: 30px 10px;
    border-radius: 20px;
}

.profile-links {
    margin-top: 10px;
}

.profile-links i {
    padding: 10px 13px;
    border: 1px solid #ff9933;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.profile-links i:hover {
    background: #ff9933;
    color: #fff;
}

.team .profile .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #ff9933;
}

/* Footer */
.footer {
    /* padding: 5vw 5vw; */
    padding: 5vw 8vw 5vw 8vw;
    background-image: linear-gradient(rgba(244, 196, 48, 0.8), rgb(255, 153, 51, 0.8));
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    text-align: center;
    /* flex-wrap: wrap; */
}

.footer .footer-col {
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.footer .footer-col h3 {
    color: #000;
    font-weight: 600;
    padding-bottom: 10px;
}

.footer-col h3 i{
    margin-right: 5px;
}

.footer li {
    list-style: none;
}

.footer li a {
    text-decoration: none;
    color: #000;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer li a:hover {
    color: #fafaf1;
}

.footer p {
    color: #000;
}

.footer .newsletter {
    margin-top: 20px;
}

.footer input {
    width: 220px;
    padding: 12px 15px;
    background: #fafaf1;
    border: none;
    border-radius: 50px;
    outline: none;
    color: #000;
}

.footer .newsletter a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background: #ff9933;
    font-weight: 600;
    color: #000;
    border-radius: 50px;
    transition: 0.6s;
}

.footer .newsletter a:hover {
    color: #ff9933;
    background: #fff;
}

.footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: nowrap;
}

.footer .copyright a {
    text-decoration: none;
    color: #757373;
}

.footer .copyright p {
    color: #000;
}

.footer .copyright .club-links {
    margin-top: 10px;
}

.footer .copyright .club-links i {
    padding: 10px 13px;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.footer .copyright .club-links i:hover {
    border: none;
    background: #fff;
    color: #ff9933;
}

/* Page - About us */
.about-us-home {
    background-image: linear-gradient(rgb(255, 153, 51, 0.8), rgba(244, 196, 48, 0.8));
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

.about-us-home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw 5vw 5vw 5vw;
}

.about-us-container .about-us-img {
    width: 60%;
    padding-right: 20px;
}

.about-us-container .about-us-img img {
    width: 100%;
}

.about-us-container .about-us-text {
    width: 40%;
}

.about-us-container .about-us-text h2 {
    color: #ff9933;
    padding: 10px;
}

.about-us-container .about-us-text p {
    color: #000;
    padding: 10px;
}

.about-us-container .about-us-text .about-us-features {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.about-us-container .about-us-text .about-us-features img {
    width: 20%;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

.about-us-container .about-us-text .about-us-features .features-text {
    width: 90%;
}

.about-us-container .about-us-text .about-us-features .features-text h5 {
    font-size: 16px;
    color: #ff9933;
}

/* Responsive for multiple devices */
/* Extra small devices (phones) */
@media (max-width: 575.98px) {
    /* header */
    .header{
        padding: 15px 20px;
    }
    #menu-close {
        display: initial;
        font-size: 1.6rem;
        color: #000;
        padding: 20px;
        position: relative;
        left: 140px;
    }
    .header .navigation .navbar-list {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        background-color: #f8a95a88;
        backdrop-filter: blur(4.5px);
        border: 1px solid #b96919;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
        border-radius: 10px 0 0 10px;
        transition: 0.6s ease;
    }
    #menu-btn{
        display: initial;
    }

    .header .navigation .navbar-list.active {
        right: 0;
    }
    .header .navigation .navbar-list .navbar-items {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }

    .header .navigation .navbar-list .navbar-items a {
        color: #000;
    }

    .header .navigation .navbar-list .navbar-items a:hover {
        color: #fff;
    }
    /* end of header */

    /* Home */
    .home{
        padding: 0 10px 0 10px;

    }
    .home p{
        text-align: justify;
        width: 80%;
        margin-top: 20px;
    }
    .home .home-button .btn-saffron{
        display: block;
        margin-top: 10px;
    }
    /* footer */
    .footer{
        display: block;
    }
    .footer .copyright{
        display: block;
    }
}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* header */
    .header{
        padding: 15px 20px;
    }
    #menu-close {
        display: initial;
        font-size: 1.6rem;
        color: #000;
        padding: 20px;
        position: relative;
        left: 140px;
    }
    .header .navigation .navbar-list {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        background-color: #f8a95a88;
        backdrop-filter: blur(4.5px);
        border: 1px solid #b96919;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
        border-radius: 10px 0 0 10px;
        transition: 0.6s ease;
    }
    #menu-btn{
        display: initial;
        font-size: 1.5rem;
    }

    .header .navigation .navbar-list.active {
        right: 0;
    }
    .header .navigation .navbar-list .navbar-items {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }

    .header .navigation .navbar-list .navbar-items a {
        color: #000;
    }

    .header .navigation .navbar-list .navbar-items a:hover {
        color: #fff;
    }

    .header .header-logo img{
        width: 50px;

    }
    /* end of header */

    /* Home */
    .home p{
        width: 70%;
    }
    /* end of home */

    /* footer */
    .footer{
        display: block;
    }
    .footer .copyright{
        display: block;
    }
}

/* Tablets (portrait) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* footer */
    .footer{
        display: flex; 

    }

    .footer .footer-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer .footer-col .newsletter {
        /* position: relative; */
        text-align: center;
    }

    /* .newsletter a{
        position: absolute;
        top: 50px;
        left: 90px;
    } */

    .footer .copyright{
        width: 300%;
        display: block;
    }
}

/* Tablets (landscape) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .footer{
        display: flex; 

    }

    .footer .footer-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer .footer-col .newsletter {
        /* position: relative; */
        text-align: center;
    }

    .footer .copyright{
        width: 300%;
        display: block;
    }

}

/* Small desktops */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .footer{
        display: flex; 

    }

    .footer .footer-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer .footer-col .newsletter {
        /* position: relative; */
        text-align: center;
    }

    .footer .copyright{
        width: 300%;
    }
}

/* Medium desktops */
@media (min-width: 1400px) and (max-width: 1599.98px) {
    .footer{
        display: flex; 

    }

    .footer .footer-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer .footer-col .newsletter {
        /* position: relative; */
        text-align: center;
    }

    .footer .copyright{
        width: 300%;
    }
}

/* Large desktops */
@media (min-width: 1600px) {
    .footer{
        display: flex; 

    }

    .footer .footer-row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer .footer-col .newsletter {
        /* position: relative; */
        text-align: center;
    }

    .footer .copyright{
        width: 300%;
    }
}